# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: create_groups

on:
  # schedule:
  #   - cron: '0 13 * * 1'
    #        | | | | |
    #        | | | | └── every Monday
    #        | | | └──── every month
    #        | | └────── every day of the month
    #        | └───────────────── at 13 UTC (9 AM EST)
    #        └─────────────────── at 0 minutes after the hour
  workflow_dispatch:
    inputs:
      uselessInput:
        description: 'Github, Why is this required?'
        type: boolean
        required: false

jobs:
  create_groups:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.3.1']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: run create groups
      run: bundle exec rake create_groups
      env:
        GROUPS_CHANNEL: ${{ secrets.GROUPS_CHANNEL }}
        PAIRING_CHANNEL: ${{ secrets.PAIRING_CHANNEL }}
        SECRET_KEY_BASE: ${{ secrets.SECRET_KEY_BASE }}
        SLACK_OAUTH_TOKEN: ${{ secrets.SLACK_OAUTH_TOKEN }}
